* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fdbf00;
}
.card {
  width: 640px;
  height: 400px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: 1s;
  
}
.card:hover {
  transform: rotate(-5deg);
}

.outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
  
}
.inside {
  background: linear-gradient(to right, #e7e7e7, #ffffff 30%);
  
  

  flex-direction: column;
  
}
.hers {
  height: 150px;
  width: 150px;
  border-radius: 50%;
 position: relative;
  left: 26%;
}

.outside {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;
}
.front, .back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.front{
  background-color: #ffffff;
}
.fronts{

  background-color: #e8e8e8;
}
.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #ffffff, #ffffff 30%);
}
.cake {
  width: 100%;
  position: absolute;
  bottom: 30px;
}
.bottom-layer {
  height: 80px;
  width: 240px;
  background-repeat: repeat;
  background-size: 60px 100px;
  background-position: 28px 0;
  background-image: linear-gradient(
      transparent 50px,
      #29fc88 50px,
      #29fc88 60px,
      transparent 60px
    ),
    radial-gradient(circle at 30px 5px, #29fc88 30px, #29fc88 31px);
 cursor:pointer;
  position: relative;
  margin: auto;
}
.card:hover .outside {
  transform: rotateY(-180deg);
}

.flap > .bottom-layer > .outside {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}
.outside p {
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 6px;
  color: #000046;
}
.outside h1 {
  font-size: 100px;
  right: -85px;
  line-height: 120%;
 position: relative;
}
.herz{
  height: 120px;
  width: 120px;
  left: 20%;
  position: absolute;
}
.hera{
  height: 120px;
  width: 120px;
  left: 5%;
  position: relative;
}
.herb{
  height: 120px;
  width: 120px;
  left: 16%;
  position: relative;
}
.herc{
  height: 120px;
  width: 120px;
  left: 5%;
  position: relative;
}
.herd{
  height: 120px;
  width: 120px;
  left: 16%;
  position: relative;
}
